<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2>Sentiment Analysis</h2>
<form action="/predict" method="POST">
    <textarea name="text" rows="5" cols="50" placeholder="Enter your text..."></textarea><br><br>
    <button type="submit">Analyze Sentiment</button>
</form>

{% if prediction_text %}
<h3>{{ prediction_text }}</h3>
{% endif %}
</body>
</html>